<!-- Comments Form -->
  <p>
    <%= form_for([@article, @article.comments.build]) do |f| %>
  </p>
    <%#= f.label :pseudo %><br>
    <%#= f.text_field :commenter, class: "form-control", rows: "1" %>
    <div class="form-group">
      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.hidden_field :article_id, value: @article.id %>
    </div>
    <%= f.label :commentaire %><br>
    <%= f.text_area :body, class: "form-control", rows: "3"  %>
    <p>
      <br>
      <%= f.submit "Commenter", class: "btn btn-primary"  %>
    </p>
    <% end %>
  </form>
</div>
