<div class="container">

  <div class="row">
    <!-- Site's title -->
    <div class="col-md-10 col-md-offset-1">
      <div id="sng">
        <h1 id="synergie" >TEAM S<span id="n">N</span>G <small id="t">COMMUNAUTE MULTI-GAMING !</small></h1>
      </div>
    </div>
  </div>

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">
        Dernières News
      </h2>
    </div>


    <div class="col-md-4">
      <% for article in @articles %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2><%= sanitize article.titre %></h2>

        </div>
        <div class="panel-body">
          <p><span class="glyphicon glyphicon-time"></span> Publié le <%= l(article.created_at, format: ("%e %B %Y")) %></p>
          <p class="texte"><%= sanitize article.contenu[0...200] + '...' %></p>
          <br>
          <p><%= link_to ('Lire la suite <span class="glyphicon glyphicon-chevron-right"></span>').html_safe, article_path(article), class: "btn btn-primary" %></p>
        </div>
      </div>
      <% end %>
    </div>

    <!--center-->
    <div class="col-md-4"><!--twitter-->
      <div class="twitter">
        <a class="twitter-timeline" href="https://twitter.com/SynergieG" data-widget-id="716152660647407616" class="responsive" height="500"
        width="430" data-chrome="nofooter" data-link-color="#820bbb" data-border-color="#a80000">Tweets de @SynergieG</a>
      </div>

      <div class="facebook"><!--facebook-->
        <div class="fb-page" data-href="https://www.facebook.com/SynergieGaming" data-tabs="timeline" data-width="410" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/SynergieGaming"><a href="https://www.facebook.com/SynergieGaming">Synergie Gaming</a></blockquote></div></div>
      </div>
    </div>



    <div class="col-md-4"><!--Teamspeak-->
      <div class="side_right">
        <div class="teamspeak">
          <script type="text/javascript">
          var ouvert = 1;
          var style = "classic";
          var couleur_fond = "E9E9E9";
          var couleur_texte = "000000";
          var largeur = 420;
          var hauteur = 500;
          var ip = "ts.synergiegaming.fr";
          var port = 9987;
          var query = 10011;
          var lang = "fr";
          var taille_police = 12;
          var voir_salons = 1;
          </script>
          <script type="text/javascript" src="https://www.ts3-serveur.com/web_script/webscript_ts3.js"></script>
        </div>

        <div class="paypal">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="business" value="synergiemultigaming@gmail.com">
            <input type="hidden" name="lc" value="FR">
            <input type="hidden" name="item_name" value="Team Synergie">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="currency_code" value="EUR">
            <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
            <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
            <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>

        <div class="serveurs">
          <h3>Nos serveurs</h3>

          <iframe src="http://cache.www.gametracker.com/components/html0/?host=151.80.233.125:9987&bgColor=1F2642&fontColor=8790AE&titleBgColor=11172D&titleColor=FFFFFF&borderColor=333333&linkColor=FF9900&borderLinkColor=999999&showMap=0&showCurrPlayers=0&showTopPlayers=0&showBlogs=0&width=420" frameborder="0" scrolling="no" width="440" height="164"></iframe>
          <iframe src="http://cache.www.gametracker.com/components/html0/?host=85.190.128.211:2302&bgColor=1F2642&fontColor=8790AE&titleBgColor=11172D&titleColor=FFFFFF&borderColor=333333&linkColor=FF9900&borderLinkColor=999999&showMap=1&showCurrPlayers=0&showTopPlayers=0&showBlogs=0&width=420" frameborder="0" scrolling="no" width="440" height="288"></iframe>
        </div>

      </div>

    </div>
  </div>


  <!-- /.row -->
  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Suivez nos lives</h2>
    </div>
    <div class="col-md-6">
      <iframe src="http://www.twitch.tv/synergiegaming/chat?popout=" scrolling="no" width="300" frameborder="0" height="410"></iframe>
    </div>
    <div class="col-md-6">
      <div class="twitch">
        <h4><%= image_tag "twitch_logo", id:"twitch_logo" %></h4>
        <script src= "http://player.twitch.tv/js/embed/v1.js"></script>
        <div id="{PLAYER_DIV_ID}"></div>
        <script type="text/javascript">
        var options = {
          width: 630,
          height: 400,
          channel: "synergiegaming",
          //video: "{VIDEO_ID}"
        };
        var player = new Twitch.Player("{PLAYER_DIV_ID}", options);
        player.setVolume(0.5);
        </script>

      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Visionnez nos vidéos</h2>
    </div>
    <div class="col-md-4 col-sm-6 youtube">
      <iframe width="410" height="260" src="https://www.youtube.com/embed/I7Ej7u83KT8?list=PLP3HeKkHKwVFb--YxYoCoMJ0osN3aHWIZ" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="col-md-4 col-sm-6 youtube">
      <iframe width="410" height="260" src="https://www.youtube.com/embed/MuBum6QAIbo?list=PLP3HeKkHKwVFb--YxYoCoMJ0osN3aHWIZ" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="col-md-4 col-sm-6 youtube">
      <iframe width="410" height="260" src="https://www.youtube.com/embed/4zapNStNuKo?list=PLP3HeKkHKwVFb--YxYoCoMJ0osN3aHWIZ" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="col-md-4 col-sm-6 youtube">
      <iframe width="410" height="260" src="https://www.youtube.com/embed/xcnpSfSLMX4?list=PLP3HeKkHKwVFb--YxYoCoMJ0osN3aHWIZ" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 col-sm-6 youtube">
      <iframe width="410" height="260" src="https://www.youtube.com/embed/uvNnSuN1qgs?list=PLP3HeKkHKwVFb--YxYoCoMJ0osN3aHWIZ" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 col-sm-6 youtube">
      <iframe width="410" height="260" src="https://www.youtube.com/embed/jiXDFTSpQNk?list=PLP3HeKkHKwVFb--YxYoCoMJ0osN3aHWIZ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <!-- /.row -->



  <hr>

  <!-- Call to Action Section -->
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
      </div>
    </div>
  </div>

  <hr>
  <!-- Page Content -->


  <!-- /.container -->
