
  <!-- Page Content -->
  <div class="row">
    <!-- Site's title -->
    <div class="col-md-10 col-md-offset-1">
      <div id="sng">
        <h1 id="synergie" >TEAM S<span id="n">N</span>G <small id="t">COMMUNAUTE MULTI-GAMING !</small></h1>
      </div>
    </div>
  </div>
  <!-- Blog Entries Column -->
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <!--left side -->
        <div class="col-md-3 col-md-offset-0">
          <%= render 'partials/side_left' %>
        </div>
        <!--center-->
        <div class="col-md-5 col-md-offset-1" >
          <h2 id=titre_accueil>Dernières News</h2>
            <% @articles.each do |article| %>
            <div class="article">
              <h2><%= sanitize article.titre %></h2>
              <p><span class="glyphicon glyphicon-time"></span> Publié le <%= t(article.created_at) %></p>
              <!--p><%#= image_tag article.image %></p-->
              <p><%= sanitize article.contenu[0...200] + '...' %></p>
              <br>
              <p><%= link_to ('Lire la suite <span class="glyphicon glyphicon-chevron-right"></span>').html_safe, article_path(article), class: "btn btn-primary" %></p>
            </div>
            <br>
            <% end %>
        </div>
        <!--right side -->
        <div class="col-md-3 col-md-offset-0">
          <%= render 'partials/side_right' %>
        </div>


      </div><!--end Row-->
    </div><!--col-md-12-->
  </div><!--End Row -->



</main>
<hr>

<!-- /.container -->
