<div class="container">
  <div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-10 col-lg-offset-1">
      <!-- Blog Post -->
      <!-- Title -->
      <h1>
        <strong><%= sanitize @article.titre %></strong>
      </h1>
      <!-- Author -->
      <p class="lead">
        par <a href="#"><%= @article.user.pseudo %> </a>
      </p>
      <hr>
      <!-- Date/Time -->
      <p><span class="glyphicon glyphicon-time"></span> Posté : <%= @article.created_at.strftime("%A %d %B") %></p>
      <hr>
      <!-- Preview Image -->
      <hr>
      <p>
        <strong>Contenu :</strong>
        <%= sanitize @article.contenu %>
      </p>
      <p>
        <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @article.titre %> - &amp;url=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)">
          <i class="fa fa-google-plus fa-2x"></i>
        </a>
        <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)">
          <i class="fa fa-facebook fa-2x"></i>
        </a>
      </p>

      <% if @article.comments.empty? %>
        <h3>Il n'y a aucun commentaire</h3>
        <% else %>
        <h2><%=  @article.comments.count %> Commentaire(s)</h2>
        <%#= render @article.comments %>
        <% @article.comments.each do |comment| %>
        <div class="comment_content">
          <p><%= comment.user.pseudo %></p>
          <p><%= comment.body %></p>
          <p><%= time_ago_in_words(comment.created_at) %></p>
        </div>
        <% end %>
      <% end %>
      <div class="row">
        <div class="col-lg-5 col-lg-offset-0">
          <h3>Ajouter un commentaire :</h3>
        </div>
        <ul>
          <div class="col-lg-5 col-lg-offset-0">
            <% if user_signed_in? %>
            <%= render 'comments/form' %>
          </div>
          <% else %>
          <li>Vous devez être connecté pour ajouter un commentaire</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
